@font-face {
    font-family: 'roboto_slab-thin';
    src: url('../fonts/RobotoSlab-Thin-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slab-regular';
    src: url('../fonts/RobotoSlab-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slab-light';
    src: url('../fonts/RobotoSlab-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slab-bold';
    src: url('../fonts/RobotoSlab-Bold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
